.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .to {
    min-width: 150px;
    max-width: 500px;
    width:37%;
  }  
  .sub {
    min-width: 150px;
    max-width: 500px;
    width:60%;
  }  

  
  .example-full-width {
    width: 100%;
  }