<form class="example-form"  (ngSubmit)="onSubmit()" style="margin-left: 20px; ">
     
      <mat-form-field>
            <mat-label> User Name:</mat-label>
           <input matInput class = "form-control"  placeholder = "username"  [(ngModel)]= "newuserData.username" name = "username"> 
		   
      </mat-form-field>
     
      <br>
      <mat-form-field>
          <mat-label>Contact Number:</mat-label>
        
		    <input matInput class = "form-control"  placeholder = "contact"  required [(ngModel)]= "newuserData.contact" name = "contact"> 

      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>User ID:</mat-label>
				    <input matInput class = "form-control"  placeholder = "userId" required [(ngModel)]= "newuserData.userId" name = "userId">
      </mat-form-field>
       <br>
       <mat-form-field >
        <mat-label>Password:</mat-label>
			 <input matInput class = "form-control"  placeholder = "password"  required [(ngModel)]= "newuserData.password" name = "password">    
			 </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Groups</mat-label>
				<select matNativeControl required
				[(ngModel)]="newuserData.group"  name = "group">
				 <option *ngFor="let group of groupArray"
              [value]=group>
              {{group}}
              </option>
        </select>
        </mat-form-field>
       <br>
        <button mat-raised-button type="submit"  >Submit</button>
  </form>
  <span class="nav-spacer"></span>