
  <form class="example-form"  (ngSubmit)="Submit()" #tag="ngForm" style="margin-left: 20px; ">
 
      <mat-form-field class="sub">
            <mat-label>Subject:</mat-label>
           <input matInput placeholder="Input" required ngModel name="subjectKeyName">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
           <textarea matInput placeholder="Send a Good Message" 
           ngModel name="descriptionKeyName" ></textarea>
       </mat-form-field>
       <br>
       <mat-form-field *ngIf="!disableGroupArray">
            <mat-label>Group</mat-label>
            <select matNativeControl required 
              ngModel name="groupKeyName">
              <option *ngFor="let elem of groupArray"
              [value]=elem>
              {{elem}}
              </option>
            </select>
        </mat-form-field>
        <br>
        <mat-checkbox  type="checkbox" name="checkbox" [(ngModel)]="isChecked">Schedule</mat-checkbox>
        <br>
        <mat-form-field *ngIf="isChecked == true">
          <input matInput [matDatepicker]="picker"  ngModel name="dateKeyName" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field >
        <br>
        <input *ngIf="isChecked == true" ngModel name="timeKeyName" type="time" atp-time-picker value="20:55"/>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button mat-raised-button type="submit"  >Submit</button>
      
  </form>
  <span class="nav-spacer"></span>
  <div id="snackbar">Message Sent..</div>



