	
<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} 
				</td>
            </ng-container>
			
			<ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> View </th>
                <td mat-cell *matCellDef="let element">
                       <a [routerLinkActive]="'active'" [routerLink]="">
                           <mat-icon mat-raised-button color="primary"  aria-hidden="true" aria-label="Example open icon" (click)="onView(element.id)" >open_in_new</mat-icon>  
                       </a> 
                   </td>
           </ng-container>
		
			
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> User Name </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
            <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </th>
                <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
            </ng-container>
            <ng-container matColumnDef="userid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID's </th>
                    <td mat-cell *matCellDef="let element"> {{element.userid}} </td>
                </ng-container>
            <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef> Group </th>
                <td mat-cell *matCellDef="let element"> {{element.group}} </td>
            </ng-container>
			
			<ng-container matColumnDef="delete">
                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
                 <td mat-cell *matCellDef="let element">
                        <a [routerLinkActive]="'active'" [routerLink]="">
						
                            <mat-icon mat-raised-button color="primary" aria-hidden="true" (click)="deleteUser(element.id)">delete</mat-icon>  
                        </a> 

                    </td>
            </ng-container>

			
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div fxFlex style= "float:right; width: 10% ; height:00">
   <button mat-fab color= "">
     <a [routerLinkActive]="'active'" [routerLink]="['/adduser']">
       <mat-icon color="green">add</mat-icon>
     </a>
   </button>
</div>