

<form  >
  <mat-form-field>
        <mat-label>Time :</mat-label>
        <input matInput value={{time}} readonly>
  </mat-form-field>
<br>
  <mat-form-field>
    <mat-label>Date :</mat-label>
    <input matInput value={{date}} readonly>
  </mat-form-field>
<br> 
  <mat-form-field style="width:30%">
    <mat-label>Subject :</mat-label>
    <input matInput value={{subject}} readonly>
  </mat-form-field>
<br>
  <mat-form-field style="width:50%">
      <textarea matInput value={{description}} readonly></textarea>
  </mat-form-field>
<br>
  <mat-form-field>
    <mat-label>Group :</mat-label>
    <input matInput value={{group}} readonly>
  </mat-form-field>
<br>
<button mat-raised-button type="submit"  [routerLink]="['/dashboard']" >Back</button>

</form>


