<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div flex>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="position" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.no </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container> 
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef> View </th>
                <td mat-cell *matCellDef="let element">
                       <a [routerLinkActive]="'active'" [routerLink]="">
                           <mat-icon mat-raised-button color="primary"  aria-hidden="true" aria-label="Example open icon" (click)="onView(element.id)" >
                               <img src="assets/icons/open_in_new.png" width="25px" height="25px"></mat-icon>  
                       </a> 
                   </td>
           </ng-container>
            <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                    </ng-container> 
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
            <ng-container matColumnDef="group">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
                        <td mat-cell *matCellDef="let element"> {{element.group}} </td>
                    </ng-container>    
            <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject. </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>



