

  <form class="example-form" style="margin-left: 20px; ">
     
      <mat-form-field>
            <mat-label> User Name:</mat-label>
           <input matInput value={{username}}>
		   
      </mat-form-field>
     
      <br>
	  
      <mat-form-field>
          <mat-label>Contact Number:</mat-label>
          <input matInput value={{contact}} >
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>User ID:</mat-label>
        <input matInput value={{userID}} readOnly >
      </mat-form-field>
       <br>
       <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput value={{password}}  >
      </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Groups</mat-label>
		  <input matInput value={{group}} readonly>
        </mat-form-field>
       <br>
       <div class="example-button-row" style="padding-left: 10%;padding-right: 10%;">
        <a mat-stroked-button color="primary" routerLink=".">Submit</a>
       </div>
  </form>
  <span class="nav-spacer"></span>
 
 


