
<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="GroupId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> GroupId </th>
                <td mat-cell *matCellDef="let element"> {{element.GroupId}} </td>
            </ng-container>
            <ng-container matColumnDef="GroupName">
                <th mat-header-cell *matHeaderCellDef> GroupName </th>
                <td mat-cell *matCellDef="let element"> {{element.GroupName}} </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
            <ng-container matColumnDef="Contact">
                <th mat-header-cell *matHeaderCellDef> Contact </th>
                <td mat-cell *matCellDef="let element"> {{element.Contact}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div fxFlex style= "float:right; width: 10% ; height:00">
   <button mat-fab color= "">
     <a [routerLinkActive]="'active'" [routerLink]="['/adduser']">
       <mat-icon color="green">add</mat-icon>
     </a>
   </button>
</div>

